[submodule "libraries/3rdparty/mbedtls"]
	path = libraries/3rdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "libraries/backoffAlgorithm"]
	path = libraries/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "libraries/coreHTTP"]
	path = libraries/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
[submodule "libraries/coreJSON"]
	path = libraries/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "libraries/coreMQTT"]
	path = libraries/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
[submodule "libraries/coreMQTT-Agent"]
	path = libraries/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
[submodule "libraries/corePKCS11"]
	path = libraries/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
[submodule "libraries/Device-Defender-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Defender-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/Device-Shadow-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Shadow-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/Jobs-for-AWS-IoT-embedded-sdk"]
	path = libraries/Jobs-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk.git
[submodule "libraries/ota-for-aws-iot-embedded-sdk"]
	path = libraries/ota-for-aws-iot-embedded-sdk
	url = https://github.com/aws/ota-for-aws-iot-embedded-sdk.git
